@import "@fontsource/bellefair";
@import "@fontsource/manrope";
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";


@theme {
  --font-sans: "Instrument Sans", ui-sans-serif;

  /* daftar font utk Tailwind */
  --font-bellefair: "Bellefair", serif;
  --font-manrope: "Manrope", sans-serif;

  --shadow-drop: 0 0 3px rgba(0,0,0,.25);

  --shadow-dropdown: 0 0 3px rgba(0,0,0,.25);
}

/* animasi home hero section */
.hero-animate {
    opacity: 0;
    transform: translateX(-80px);
    transition: all 0.8s ease-out;
}

.hero-animate.show {
    opacity: 1;
    transform: translateX(0);
}

.bg-fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.bg-fade.show {
    opacity: 1;
}

/* BASE */
.animate-left,
.animate-bottom {
    opacity: 0;
    transition: all 0.9s ease;
}

/* DARI KIRI */
.animate-left {
    transform: translateX(-60px);
}

/* DARI BAWAH */
.animate-bottom {
    transform: translateY(40px);
}

/* SAAT AKTIF */
.animate-show {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

/* end of animasi hero section */

/* animasi apa itu wbs */

/* BASE */
.animate-left,
.animate-bottom {
    opacity: 0;
    transition: all 0.9s ease;
}

/* DARI KIRI */
.animate-left {
    transform: translateX(-60px);
}

/* DARI BAWAH */
.animate-bottom {
    transform: translateY(40px);
}

/* SAAT AKTIF */
.animate-show {
    opacity: 1;
    transform: translateX(0) translateY(0);
}


/* end of animasi apa itu wbs */
